<template>
  <div class="progress-ring" :style="ringStyles">
    <svg class="progress-ring__circle" width="120" height="120">
      <circle class="progress-ring__circle--background" :cx="radius" :cy="radius" :r="radius" :style="circleBgStyles" />
      <circle class="progress-ring__circle--progress" :cx="radius" :cy="radius" :r="radius" :style="circleStyles" />
    </svg>
    <div class="progress-ring__text">{{ Math.round(value * 100) }}%</div>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: Number,
      required: true,
      default: 0
    },
    radius: {
      type: Number,
      default: 50
    },
    strokeWidth: {
      type: Number,
      default: 10
    }
  },
  computed: {
    circumference() {
      return 2 * Math.PI * this.radius;
    },
    ringStyles() {
      return {
        width: `${this.radius * 2}px`,
        height: `${this.radius * 2}px`
      };
    },
    circleBgStyles() {
      return {
        strokeWidth: `${this.strokeWidth}px`,
      };
    },
    circleStyles() {
      const progressOffset = ((1 - this.value) * this.circumference);
      return {
        strokeDasharray: `${this.circumference} ${this.circumference}`,
        strokeDashoffset: progressOffset,
        strokeWidth: `${this.strokeWidth}px`,
        filter: 'drop-shadow(0px 0px 5px #ebe424)',
        strokeLinecap: 'round'
      };
    }
  }
};
</script>

<style scoped>
.progress-ring {
  display: inline-block;
  position: relative;
}

.progress-ring__circle {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  overflow: visible;
}

.progress-ring__circle--background {
  fill: none;
  stroke: #e5e5e5;
  stroke-width: 10;
}

.progress-ring__circle--progress {
  fill: none;
  stroke: #ebe424;
  transition: stroke-dashoffset 0.3s;
}

.progress-ring__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: #ebe424;
}
</style>
