<template>
  <div class="progress-ring-container">
    <ProgressRing :value="progress" :radius="60" :strokeWidth="12"/>
    <button @click="increaseProgress" class="increase-button">Увеличить прогресс на 10%</button>
  </div>
</template>

<script>
import ProgressRing from './components/ProgressRing.vue';

export default {
  components: {
    ProgressRing
  },
  data() {
    return {
      progress: 0.1
    };
  },
  methods: {
    increaseProgress() {
      if (this.progress < 1) {
        this.progress += 0.1;
        if (this.progress > 1) {
          this.progress = 1;
        }
      }
    }
  }
};
</script>

<style>
body {
  background: #231540;
  padding: 20px;
  height: 100vh;
}

.progress-ring-container {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}

.increase-button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}
</style>
